</html>
    <head>
        <title>Xixiang's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls blog</a> </h1>
        </div>

        <div>
            <p>published: 19.10.2022, 21:10</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. \<br>
                Donec id elit non mi porta gravida at eget metus. \<br>
                Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>

        <div>
            <p>published: 20.10.2022, 23:20</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. \<br>
                Donec id elit non mi porta gravida at eget metus. \<br>
                Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>